#-----------------------------------------------------------------------------------------------------------------------
# 監査ログバックアップ定義 ( Version 1.0 : 2017/02/01 : Update ISID R.YAMANO )
#-----------------------------------------------------------------------------------------------------------------------
# BACKUP_AUDIT_DEF.cfg (監査ログバックアップ) (音声合成サーバ用)
# バックアップ種別,対象区分,対象上位ディレクトリ,対象ディレクトリ/ファイル,保管先ディレクトリ
#-----------------------------------------------------------------------------------------------------------------------
# 1.Copy
#-----------------------------------------------------------------------------------------------------------------------
# For NAS Strage
#-----------------------------------------------------------------------------------------------------------------------
# Event Log
#C,F,D:\logfile\event,event_sec.log.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\event
C,F,D:\logfile\event,event_sec.log.*,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\event
#-----------------------------------------------------------------------------------------------------------------------
# 2.Move
#-----------------------------------------------------------------------------------------------------------------------
# Event Log
#M,F,D:\logfile\event,event_sec.log.@@D0001@@,D:\unyolog\@@SVRNL@@\audit\event
M,F,D:\logfile\event,event_sec.log.*,D:\unyolog\@@SVRNL@@\audit\event