#-----------------------------------------------------------------------------------------------------------------------
# 監査ログバックアップ定義 ( Version 1.0 : 2014/03/14 : Update ISID R.YAMANO )
#-----------------------------------------------------------------------------------------------------------------------
# BACKUP_AUDIT_DEF.cfg (監査ログバックアップ) (APサーバ用)
# バックアップ種別,対象区分,対象上位ディレクトリ,対象ディレクトリ/ファイル,保管先ディレクトリ
#-----------------------------------------------------------------------------------------------------------------------
# 1.Copy
#-----------------------------------------------------------------------------------------------------------------------
# For NAS Strage
#-----------------------------------------------------------------------------------------------------------------------
# Event Log
C,F,D:\logfile\event,event_sec.log.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\event
# BANKR CC 本番インスタンス
C,F,D:\unyolog\@@SVRNL@@\audit\brcc\azbk,eMBTraceFile.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\brcc\azbk
C,F,D:\unyolog\@@SVRNL@@\audit\brcc\azbk,eMBPerformanceFile.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\brcc\azbk
# BANKR CC 研修インスタンス
C,F,D:\unyolog\@@SVRNL@@\audit\brcc\trng,eMBTraceFile.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\brcc\trng
C,F,D:\unyolog\@@SVRNL@@\audit\brcc\trng,eMBPerformanceFile.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\brcc\trng
# IHS 本番インスタンス
C,F,D:\logfile\IHS\brccazbk,access.log.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\ihs\azbk
# IHS 研修インスタンス
C,F,D:\logfile\IHS\brcctrng,access.log.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\ihs\trng
# WAS 本番インスタンス
C,F,D:\unyolog\@@SVRNL@@\audit\was\azbk,trace.log.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\was\azbk
C,F,D:\unyolog\@@SVRNL@@\audit\was\azbk,activity.log.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\was\azbk
C,F,D:\logfile\WAS\brccazbk,SystemOut_*.log,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\was\azbk
C,F,D:\logfile\WAS\brccazbk,SystemErr_*.log,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\was\azbk
# WAS 研修インスタンス
C,F,D:\unyolog\@@SVRNL@@\audit\was\trng,trace_tr.log.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\was\trng
C,F,D:\unyolog\@@SVRNL@@\audit\was\trng,activity_tr.log.@@D0001@@,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\was\trng
C,F,D:\logfile\WAS\brcctrng,SystemOut_tr_*.log,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\was\trng
C,F,D:\logfile\WAS\brcctrng,SystemErr_tr_*.log,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\was\trng
#-----------------------------------------------------------------------------------------------------------------------
# 2.Move
#-----------------------------------------------------------------------------------------------------------------------
# Event Log
M,F,D:\logfile\event,event_sec.log.@@D0001@@,D:\unyolog\@@SVRNL@@\audit\event
# IHS 本番インスタンス
M,F,D:\logfile\IHS\brccazbk,access.log.@@D0001@@,D:\unyolog\@@SVRNL@@\audit\ihs\azbk
# IHS 研修インスタンス
M,F,D:\logfile\IHS\brcctrng,access.log.@@D0001@@,D:\unyolog\@@SVRNL@@\audit\ihs\trng
# WAS 本番インスタンス
M,F,D:\logfile\WAS\brccazbk,SystemOut_*.log,D:\unyolog\@@SVRNL@@\audit\was\azbk
M,F,D:\logfile\WAS\brccazbk,SystemErr_*.log,D:\unyolog\@@SVRNL@@\audit\was\azbk
# WAS 研修インスタンス
M,F,D:\logfile\WAS\brcctrng,SystemOut_tr_*.log,D:\unyolog\@@SVRNL@@\audit\was\trng
M,F,D:\logfile\WAS\brcctrng,SystemErr_tr_*.log,D:\unyolog\@@SVRNL@@\audit\was\trng
