#-----------------------------------------------------------------------------------------------------------------------
# ログファイルリネーム定義 ( Version 1.0 : 2014/03/14 : Update ISID R.YAMANO )
#-----------------------------------------------------------------------------------------------------------------------
# RENAME_LOG_DEF.cfg (APサーバ用)
# クリア区分,リネーム元ディレクトリ,リネーム対象ファイル,リネーム先ディレクトリ
#-----------------------------------------------------------------------------------------------------------------------
# クリア区分説明 ( CLN：リネーム処理後＆クリア , CLF:リネーム処理＆後強制クリア NON：リネーム処理のみ )
#-----------------------------------------------------------------------------------------------------------------------
# 運用バッチログ
#-----------------------------------------------------------------------------------------------------------------------
CLF,D:\logfile\unyo\azbk\,error.log,D:\unyolog\@@SVRNL@@\log\unyo
#-----------------------------------------------------------------------------------------------------------------------
# BANKR トレースログ
#-----------------------------------------------------------------------------------------------------------------------
# 本番インスタンス
CLF,D:\BANKR_CC\logs\biz\brccazbk\,eMBTraceFile,D:\unyolog\@@SVRNL@@\audit\brcc\azbk
CLF,D:\BANKR_CC\logs\biz\brccazbk\,eMBPerformanceFile,D:\unyolog\@@SVRNL@@\audit\brcc\azbk
NON,D:\BANKR_CC\logs\ui\brccazbk,access.log,D:\unyolog\@@SVRNL@@\log\brcc\ui\azbk
NON,D:\BANKR_CC\logs\ui\brccazbk,error.log,D:\unyolog\@@SVRNL@@\log\brcc\ui\azbk
NON,D:\BANKR_CC\logs\ui\brccazbk,heap.log.@@D0003@@,D:\unyolog\@@SVRNL@@\log\brcc\ui\azbk
NON,D:\BANKR_CC\logs\ui\brccazbk,debug.log,D:\unyolog\@@SVRNL@@\log\brcc\ui\azbk
NON,D:\BANKR_CC\logs\ui\brccazbk,dump.log,D:\unyolog\@@SVRNL@@\log\brcc\ui\azbk
# 研修インスタンス
CLF,D:\BANKR_CC\logs\biz\brcctrng\,eMBTraceFile,D:\unyolog\@@SVRNL@@\audit\brcc\trng
CLF,D:\BANKR_CC\logs\biz\brcctrng\,eMBPerformanceFile,D:\unyolog\@@SVRNL@@\audit\brcc\trng
NON,D:\BANKR_CC\logs\ui\brcctrng,access.log,D:\unyolog\@@SVRNL@@\log\brcc\ui\trng
NON,D:\BANKR_CC\logs\ui\brcctrng,error.log,D:\unyolog\@@SVRNL@@\log\brcc\ui\trng
NON,D:\BANKR_CC\logs\ui\brcctrng,heap.log.@@D0003@@,D:\unyolog\@@SVRNL@@\log\brcc\ui\trng
NON,D:\BANKR_CC\logs\ui\brcctrng,debug.log,D:\unyolog\@@SVRNL@@\log\brcc\ui\trng
NON,D:\BANKR_CC\logs\ui\brcctrng,dump.log,D:\unyolog\@@SVRNL@@\log\brcc\ui\trng
#-----------------------------------------------------------------------------------------------------------------------
# WAS 
#-----------------------------------------------------------------------------------------------------------------------
# 本番インスタンス
CLF,D:\logfile\WAS\brccazbk\,trace.log,D:\unyolog\@@SVRNL@@\audit\was\azbk
CLF,D:\logfile\WAS\brccazbk\,activity.log,D:\unyolog\@@SVRNL@@\audit\was\azbk
#CLF,D:\logfile\WAS\brccazbk\,native_stdout.log,D:\unyolog\@@SVRNL@@\audit\was\azbk
#CLF,D:\logfile\WAS\brccazbk\,native_stderr.log,D:\unyolog\@@SVRNL@@\audit\was\azbk
#CLF,D:\logfile\WAS\brccazbk\,SystemOut_*.log,D:\unyolog\@@SVRNL@@\audit\was\azbk
#CLF,D:\logfile\WAS\brccazbk\,SystemErr_*.log,D:\unyolog\@@SVRNL@@\audit\was\azbk
# 研修インスタンス
CLF,D:\logfile\WAS\brcctrng\,trace_tr.log,D:\unyolog\@@SVRNL@@\audit\was\trng
CLF,D:\logfile\WAS\brcctrng\,activity_tr.log,D:\unyolog\@@SVRNL@@\audit\was\trng
#CLF,D:\logfile\WAS\brcctrng\,native_stdout_tr.log,D:\unyolog\@@SVRNL@@\audit\was\trng
#CLF,D:\logfile\WAS\brcctrng\,native_stderr_tr.log,D:\unyolog\@@SVRNL@@\audit\was\trng
#CLF,D:\logfile\WAS\brcctrng\,SystemOut_tr_*.log,D:\unyolog\@@SVRNL@@\audit\was\trng
#CLF,D:\logfile\WAS\brcctrng\,SystemErr_tr_*.log,D:\unyolog\@@SVRNL@@\audit\was\trng
