#-----------------------------------------------------------------------------------------------------------------------
# ログファイルリネーム定義 ( Version 1.0 : 2015/01/19 : Update ISID R.YAMANO )
#-----------------------------------------------------------------------------------------------------------------------
# RENAME_LOG_DEF.cfg (社内APサーバ用)
# クリア区分,リネーム元ディレクトリ,リネーム対象ファイル,リネーム先ディレクトリ
#-----------------------------------------------------------------------------------------------------------------------
# クリア区分説明 ( CLN：リネーム処理後＆クリア , CLF:リネーム処理＆後強制クリア NON：リネーム処理のみ )
#-----------------------------------------------------------------------------------------------------------------------
# 運用バッチログ
#-----------------------------------------------------------------------------------------------------------------------
CLF,D:\logfile\unyo\azbk\,error.log,D:\unyolog\@@SVRNL@@\log\unyo
#-----------------------------------------------------------------------------------------------------------------------
# BANKR トレースログ
#-----------------------------------------------------------------------------------------------------------------------
# 社内APインスタンス 1.0次
CLF,D:\BANKR_CC\logs\biz\bankrazb\,eMBTraceFile,D:\unyolog\@@SVRNL@@\audit\bankr\bankrazb
CLF,D:\BANKR_CC\logs\biz\bankrazb\,eMBPerformanceFile,D:\unyolog\@@SVRNL@@\audit\bankr\bankrazb
NON,D:\BANKR_CC\logs\ui\bankrazb,access.log,D:\unyolog\@@SVRNL@@\log\bankr\ui\bankrazb
NON,D:\BANKR_CC\logs\ui\bankrazb,error.log,D:\unyolog\@@SVRNL@@\log\bankr\ui\bankrazb
NON,D:\BANKR_CC\logs\ui\bankrazb,heap.log.@@D0003@@,D:\unyolog\@@SVRNL@@\log\bankr\ui\bankrazb
NON,D:\BANKR_CC\logs\ui\bankrazb,debug.log,D:\unyolog\@@SVRNL@@\log\bankr\ui\bankrazb
NON,D:\BANKR_CC\logs\ui\bankrazb,dump.log,D:\unyolog\@@SVRNL@@\log\bankr\ui\bankrazb
#-----------------------------------------------------------------------------------------------------------------------
# WAS 
#-----------------------------------------------------------------------------------------------------------------------
CLF,D:\logfile\WAS\bankrazb\,trace.log,D:\unyolog\@@SVRNL@@\audit\was\bankrazb
CLF,D:\logfile\WAS\bankrazb\,activity.log,D:\unyolog\@@SVRNL@@\audit\was\bankrazb
