#-----------------------------------------------------------------------------------------------------------------------
# 不要ファイル削除定義 ( Version 1.0 : 2016/01/14 : Update ISID-IT K.Doi )
#-----------------------------------------------------------------------------------------------------------------------
# DELETE_LOG_DEF.cfg  (DBサーバ用)
# 削除区分,削除対象上位ディレクトリ,削除対象対象ディレクトリ/ファイル,保管日数
#-----------------------------------------------------------------------------------------------------------------------
# 運用バッチログ
#-----------------------------------------------------------------------------------------------------------------------
F,D:\logfile\unyo\azbk\actlog,*.ps1.log.*,10
F,D:\unyolog\@@SVRNL@@\log\unyo,error.log.????????,30
#-----------------------------------------------------------------------------------------------------------------------
# イベントログ
#-----------------------------------------------------------------------------------------------------------------------
F,D:\unyolog\@@SVRNL@@\audit\event,event_sec.log.????????,30
F,D:\unyolog\@@SVRNL@@\log\event,event_sys.log.????????,30
F,D:\unyolog\@@SVRNL@@\log\event,event_apl.log.????????,30
#-----------------------------------------------------------------------------------------------------------------------
# 監査ログ
#-----------------------------------------------------------------------------------------------------------------------
F,D:\unyolog\@@SVRNL@@\audit\listener,fslfcctbsdbpw01.log.????????,30
F,D:\unyolog\@@SVRNL@@\audit\errors,err.*,30
D,D:\unyolog\@@SVRNL@@\audit\oracle,????????,30
F,D:\unyolog\@@SVRNL@@\log\oracle,alert_brccazbk.log.????????,10
F,E:\CLlog\oracle\brccazbk\diag\rdbms\brccazbk\brccazbk\trace,brccazbk_arc*.*,30
F,F:\DBFiles\brccazbk\adump,brccazbk_*.xml,7
F,E:\CLlog\azbk\BANKR\audit\opelog,ope_history.dump.*,30
F,E:\CLlog\azbk\BANKR\error,err.*,30
#-----------------------------------------------------------------------------------------------------------------------
# NAS保管
#-----------------------------------------------------------------------------------------------------------------------
# Event Log
F,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\audit\event,event_sec.log.????????,3650
F,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\otherlog\event,event_sys.log.????????,90
F,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\otherlog\event,event_apl.log.????????,90
# 運用ログ
F,${COM_NAS_BASE_DIRS}\@@SVRNL@@\log\otherlog\unyo,error.log.????????,90
# サービスノード設定
F,${COM_NAS_BASE_DIRS}\fcctbsdbpw01\log\audit\listener,fslfcctbsdbpw01.log.????????,3650
D,${COM_NAS_BASE_DIRS}\fcctbsdbpw01\log\audit\oracle,????????,3650
F,${COM_NAS_BASE_DIRS}\fcctbsdbpw01\log\audit\errors,err.*,3650
F,${COM_NAS_BASE_DIRS}\fcctbsdbpw01\log\audit\opelog,ope_history.dump.????????,3650
F,${COM_NAS_BASE_DIRS}\fcctbsdbpw01\log\otherlog\oracle,alert_brccazbk.log.????????,90
#F,${COM_NAS_BASE_DIRS}\fcctbsdbpw01\log\otherlog\hulft,*.log.????????,90
#F,${COM_NAS_BASE_DIRS}\fcctbsdbpw01\log\otherlog\BE,*.xml.????????,90
#-----------------------------------------------------------------------------------------------------------------------
# 送受信データ バックアップファイル
#-----------------------------------------------------------------------------------------------------------------------
# 月次受信ファイル 31日保管(1世代分)
F,${UNYO_DB_EXTRCV_DIR}\backup,M_*.dat.*,31
# 週次受信ファイル 10日保管(1世代分)
F,${UNYO_DB_EXTRCV_DIR}\backup,W_*.dat.*,10
# 日次受信ファイル 10日保管
F,${UNYO_DB_EXTRCV_DIR}\backup,D_*.dat.*,10
# 日次送信ファイル 10日保管
F,${UNYO_DB_EXTSND_DIR}\backup,S_*.dat.*,10
